.Title {
  padding-left: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.896);
}
.Title-h1 {
  color: rgb(63, 27, 247);
  padding-left: 10px;
}

.Icon {
  size: 34;
  color: rgb(63, 27, 247);
}
