.Title {
  padding-left: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.896);
  position: sticky;
  top: 0px;
}

.element {
  position: relative;
  top: 20px;
}

.Title-h1 {
  color: rgb(63, 27, 247);
  padding-left: 10px;
  font-size: 40px;
}

.Icon {
  color: rgb(63, 27, 247);
}
.Title-username {
  color: rgb(63, 27, 247);
  padding-left: 10px;
  padding-right: 5px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.Title-user-icon {
  margin-left: 20px;
  padding-right: 10px;
}

.Title-button {
  border-radius: 8px;
  border: none;
  background-color: rgb(63, 27, 247);
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.Title-button:hover {
  background-color: rgb(43, 20, 160);
}
.Title-link {
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.Title-h1:hover {
  color: rgb(146, 187, 241);
}
