.ArticleCard {
  margin: auto;
  width: 96%;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  padding-top: 1px;

  /* padding-bottom: 1px; */
}
.ArticleCard-topic {
  font-size: 70%;
  padding-right: 73%;
}

.ArticleCard-title {
  text-decoration: none;
  color: rgb(49, 48, 48);
  cursor: pointer;
  transition: 0.3s;
}

.ArticleCard-title:hover {
  color: rgb(4, 71, 255);
}
.ArticleCard-Link {
  text-decoration: none;
  color: rgb(49, 48, 48);
  cursor: pointer;
  transition: 0.3s;
  font-size: 85%;
  font-weight: 600;
}
.ArticleCard-Link:hover {
  color: rgb(4, 71, 255);
}
.ArticleCard-comments {
  padding-bottom: 8px;
  margin-top: 5px;
}
