.Navbar {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(208, 215, 238);
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border-radius: 8px 8px 8px 8px; */

  /* border: orange 4px solid; */
}
.Navbar-link {
  text-decoration-line: none;
  background-color: rgb(235, 228, 228);
  border-color: rgb(235, 228, 228);
  font-size: 16px;
  padding: 5px 15px 5x 15px;
  margin: 3px 15px 3px 15px;
  border-radius: 8px 8px 8px 8px;
}
