.Comments {
  background-color: #ffffff;
  border-bottom: solid 10px #dae0e6;
  color: rgb(92, 91, 91);
}

.Comments-date-author {
  font-size: 70%;
  padding-right: 60%;
}

.Comments-author {
  font-size: 70%;
}
.Comments-body {
  font-size: 90%;
}
