.SendComment {
  background-color: white;
  width: 96%;
  margin: auto;
  padding-top: 5px;
  margin-top: 15px;
  padding-bottom: 5px;
  border-radius: 8px;
}
.SendComment-label {
  font-weight: 500;
  font-size: 14px;
  padding-right: 5px;
  color: rgb(47, 47, 47);
}

.SendComment-button {
  margin-left: 10px;
  font-size: 14px;
  border: none;
  background-color: rgb(191, 193, 195);
  color: rgb(0, 0, 0);
  font-weight: bold;
  /* margin-bottom: 8px; */
  width: 120px;
  border-radius: 6px 6px 6px 6px;
  text-decoration-line: none;
  cursor: pointer;
  transition: 0.5s;
}
.SendComment-button:hover {
  background-color: rgb(30, 139, 241);
}
