.SendComment {
  background-color: white;
  width: 96%;
  margin: auto;
  padding-top: 5px;
  margin-top: 15px;
  padding-bottom: 5px;
  border-radius: 8px;
}

@media only screen and (min-width: 780px), (min-device-width: 780px) {
  .SendComment {
    width: 80%;
  }
}
@media only screen and (min-width: 1080px), (min-device-width: 1080px) {
  .SendComment {
    width: 70%;
  }
}
@media only screen and (min-width: 1380px), (min-device-width: 1380px) {
  .SendComment {
    width: 60%;
  }
}
@media only screen and (min-width: 1680px), (min-device-width: 1680px) {
  .SendComment {
    width: 50%;
  }
}
@media only screen and (min-width: 1800px), (min-device-width: 1800px) {
  .SendComment {
    width: 43%;
  }
}
