.App {
  text-align: center;
  height: 100vh;
  background-color: #dae0e6;
  /* border: 5px magenta solid; */
  display: grid;
  grid-template: 70px 90px 8fr / 1fr;
  grid-template-areas:
    "header"
    "navbar"
    "content";
}

@media only screen and(min-width: 750px) {
  .Navbar {
    width: 80%;
  }
}
