.App {
  text-align: center;
  /* height: 100vh; */
  background-color: #dae0e6;
  /* border: 5px magenta solid; */
  display: grid;
  /* grid-template: 70px 90px 8fr / 1fr;
  grid-template-areas:
    "header"
    "navbar"
    "content"; */
}
.Main {
  margin: auto;
}
@media only screen and (min-width: 780px), (min-device-width: 780px) {
  .Main {
    width: 85%;
  }
}
@media only screen and (min-width: 1080px), (min-device-width: 1080px) {
  .Main {
    width: 70%;
  }
}
@media only screen and (min-width: 1380px), (min-device-width: 1380px) {
  .Main {
    width: 60%;
  }
}
@media only screen and (min-width: 1680px), (min-device-width: 1680px) {
  .Main {
    width: 50%;
  }
}
@media only screen and (min-width: 1800px), (min-device-width: 1800px) {
  .Main {
    width: 43%;
  }
}
